/**
 * @name Nord
 * @author CatKinKitKat#1363
 * @version 1.1
 * @description Make your Nord themed desktop cohesive with Nord for Discord, this was made with the codedotspectra's Nocturnal theme as a base.
 * @source https://github.com/CatKinKitKat/DiscordNord
*/

@import url("https://codedotspectra.github.io/themes/nocturnal/importCSS/core.css");

/* Nocturnal theme extras */

@import url('https://codedotspectra.github.io/themes/core/hljs.css');
@import url('https://codedotspectra.github.io/themes/core/settings-icons.css');
@import url('https://discordstyles.github.io/RadialStatus/base.css');
@import url('https://codedotspectra.github.io/themes/core/badges.css');

/* Colours */

:root {
    --primary: #4c566a;
    --primaryGradient2: #4c566a;
    --backgroundDark: #2e3440;
    --backgroundDarker: #4c566a;
    --DangerColor: #dc3545;
    --WarningColor: #ffc107;
    --SuccessColor: #28a745;
    /* Radial Status */
    --rs-small-spacing: 1px;
    --rs-large-spacing: 1px;
    --rs-width: 2px;
    --rs-avatar-shape: 100%;
    --rs-online-color: #a3be8c;
    --rs-idle-color: #d08770;
    --rs-dnd-color: #bf616a;
    --rs-offline-color: #4c566a;
    --rs-streaming-color: #b48ead;
    --rs-invisible-color: #e5e9f0;
}
